<p id="notice"><%= notice %></p>

<p>
  <strong>Evento:</strong>
  <%= @libro.evento %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @libro.precio %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
